In [36]:
y <- character()
y
y2 <- ""
y2

character(0)

[1] ""

In [4]:
class(y)
class(y2)

[1] "character"

[1] "character"

In [5]:
length(y)
length(y2)

[1] 0

[1] 1

In [17]:
y <- c("e","12", "2")
y
y <- character(10)
y
y[3] <- "third"
y
y[12] <- "tweleve"
y
y[11]
y

[1] "e"  "12" "2"

 [1] "" "" "" "" "" "" "" "" "" ""

 [1] ""      ""      "third" ""      ""      ""      ""      ""      ""
[10] ""

 [1] ""        ""        "third"   ""        ""        ""        ""
 [8] ""        ""        ""        NA        "tweleve"

[1] NA

 [1] ""        ""        "third"   ""        ""        ""        ""
 [8] ""        ""        ""        NA        "tweleve"

In [19]:
n=3
m="3"

is.character(n)
is.character(m)

[1] FALSE

[1] TRUE

In [20]:
class(n)
class(m)

[1] "numeric"

[1] "character"

In [21]:
as.character(n)
class(n)

[1] "3"

[1] "numeric"

In [22]:
n2 <- as.character(n)
class(n2)

[1] "character"

In [24]:
t <-c(1:5)
t
t2 <-c(1:5, "a")
t2

[1] 1 2 3 4 5

[1] "1" "2" "3" "4" "5" "a"

In [25]:
class(t2)

[1] "character"

In [28]:
t3 <- c(1:4, TRUE, FALSE)
t3
class(t3)

[1] 1 2 3 4 1 0

[1] "integer"

In [30]:
t4 <- c(1:4, TRUE, FALSE, "A")
t4 
class(t4)

[1] "1"     "2"     "3"     "4"     "TRUE"  "FALSE" "A"

[1] "character"

In [34]:
df1 <- data.frame(n=c(1:5), letters =c("a","b","23","1","4"))
df1
str(df1)

  n letters
1 1 a
2 2 b
3 3 23
4 4 1
5 5 4

'data.frame':	5 obs. of  2 variables:
 $ n      : int  1 2 3 4 5
 $ letters: Factor w/ 5 levels "1","23","4","a",..: 4 5 2 1 3

In [35]:
df2 <- data.frame(n=c(1:4, "a"), letters =c("a","b","23","1","4"))
df2
str(df2)

  n letters
1 1 a
2 2 b
3 3 23
4 4 1
5 a 4

'data.frame':	5 obs. of  2 variables:
 $ n      : Factor w/ 5 levels "1","2","3","4",..: 1 2 3 4 5
 $ letters: Factor w/ 5 levels "1","23","4","a",..: 4 5 2 1 3